* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.basicLayoutContainer {
    height: 2000px;
    width: 99vw;

    display: flex;
    flex-direction: column;
}


/* Header styling */
.basicLayoutHeader {
    height: 3.5%;
    width: 100%;
    background-color: #2B2B2B;

    display: flex;
    flex-direction: row;
}

.f1LogoContainer {
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}
.f1Logo {
    width: 13rem;
}

.loginButtonContainer {
    width: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.loginButtonContainer button {
    background-color: #E10600;
    color: black;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 2.5rem;
    width: 5rem;
}



/* Body styling */
.basicLayoutBody {
    height: 100%;
    width: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
}

.topBodyContainer {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.teamTable {
    background-color: green;

    height: 80%;
    width: 45%;

    margin: 5rem 0 0 3.5rem; 
}


.pointTable {
    background-color: blue;

    height: 80%;
    width: 45%;

    margin: 5rem 0 0 2.5rem;
}

.videoContainer {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videoContainer iframe {
    height: 85%;
    width: 75%;
}
.videoContainer p {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}



/* Footer styling */
.basicLayoutFooter {
    height: 1.5%;
    width: 100%;
    background-color: #2B2B2B;

    display: flex;
    flex-direction: row;
}

.footerTextContainer {
    color: white;
    font-size: 1rem;  

    width: 50%;

    display: flex;
    flex-direction: row;
    gap: 25rem;

    align-items: center;
}

.counterBox {
    width: 50%;

    color: white;
    font-size: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}