* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.basicLayoutContainer {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}


/* Header styling */
.basicLayoutHeader {
    height: 10%;
    width: 100%;
    background-color: #2B2B2B;
}

.f1Logo {
    width: 13rem;
}


/* Body styling */
.basicLayoutBody {
    height: 100%;
    width: 100%;
    background-color: black;
}


/* Footer styling */
.basicLayoutFooter {
    height: 10%;
    width: 100%;
    background-color: #2B2B2B;

    display: flex;
    flex-direction: row;
}

.footerTextContainer {
    color: white;
    font-size: 1.5rem;  

    width: 50%;
}

.counterBox {
    width: 50%;

    color: white;
    font-size: 1.3rem;
}